---
import ExperienceItem from "./ExperienceItem.astro";

const experience = [
  {
    title: "Servicio Social en el área de Ambientes virtuales - Universidad del Valle de México",
    date: "Noviembre 2024 - Abril 2025",
    description:
      "Generación de material organizacional utilizando Canva, seguimiento continuo de metas académicas con herramientas colaborativas, elaboración de reportes en Excel para monitorear el progreso estudiantil y planificación estratégica para difundir información relevante en la universidad.",
  },
  {
    title: "Pasantía de desarrollador front end - INFOTEC",
    date: "Octubre 2022 - Enero 2023",
    description:
      "Desarrollo de proyectos web utilizando HTML, CSS, Bootstrap y React; implementación de JavaScript para funcionalidades interactivas; diseño de interfaces responsivas con Bootstrap 5; gestión de repositorios en Git, GitHub y GitLab; y participación en equipos ágiles utilizando Scrum para la gestión de tareas y entregas."
  },
  {
    title: "Pasante en el Área de Gestión de Proyectos - RIMOVA S.A. de C.V.",
    date: "2019",
    description:
      "Gestión de proveedores y creación de órdenes de compra para materia prima destinada al funcionamiento de maquinaria, elaboración de documentación técnica y manuales operativos para robots de soldadura, supervisión en el área de producción con gestión de equipos y optimización de procesos, y diseño de diagramas de flujo y cronogramas para la planificación y ejecución de nuevos proyectos."
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    experience.map((experience) => {
      return (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>
      );
    })
  }
</ol>
