---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<footer
  class="rounded-lg shadow-sm m-4 bg-[#223c63]/20 backdrop-blur-lg w-full xl:w-[1120px] md:w-[768px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-3 md:flex md:items-center md:justify-between"
  >
    <span class="text-md sm:text-center text-[#223c63]"
      >© 2025 <a href="https://github.com/LuisCorreaDv" class="hover:underline"
        >Luis Correa</a
      >.
    </span>
    <nav class="flex gap-4 flex-wrap">
      <SocialPill href="https://www.linkedin.com/in/luiscorrea-v/">
        <LinkedIn class="size-3 md:size-5" />
      </SocialPill>
      <SocialPill href="https://github.com/LuisCorreaDv">
        <GitHub class="size-3 md:size-5" />
      </SocialPill>
      <SocialPill href="mailto:dev.luis.correa@gmail.com">
        <Mail class="size-3 md:size-5" />
      </SocialPill>
    </nav>
  </div>
</footer>
