<header class="flex justify-between items-center py-3 w-[1120px]">
  <img
    class="rounded-full w-12 h-12"
    src="https://gravatar.com/avatar/ef7dcea8fa46a2bc6fed720691529b9c?s=400&d=retro&r=x"
    alt="profile logo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>
</header>
