<header class="flex flex-col md:flex-row justify-between items-center py-5 w-full xl:w-[1120px] md:w-[768px] mx-auto">
  <img
    class="rounded-full size-12 sm:display-block mb-4 md:mb-0"
    src="https://gravatar.com/avatar/ef7dcea8fa46a2bc6fed720691529b9c?s=400&d=retro&r=x"
    alt="profile logo"
  />

  <nav class="flex flex-col md:flex-row gap-y-4 md:gap-y-0 md:gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contact</a>
  </nav>
</header>
