<header class="flex flex-col md:flex-row justify-center items-center py-5 w-full xl:w-[1120px] md:w-[768px] mx-auto">
  <nav class="flex flex-col md:flex-row gap-y-4 md:gap-y-0 md:gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mi</a>
  </nav>
</header>
