---                               
 import './src/styles/global.css'  
 import Header from '../components/Header.astro'
 // Supports weights 100-900
import '@fontsource-variable/onest';
---  

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style>
	html {
		font-family: 'Onest Variable', sans-serif;
		
		color: #fff;
	}
	body {
		background: #131313;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
	}
</style>
