---                               
 import '../styles/global.css'  
 import Header from '../components/Header.astro'
 // Supports weights 100-900
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';
---  

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - Luis Correa</title>
	</head>
	<body class="relative mx-auto">
		<div class="fixed inset-0 z-[-2] bg-gradient-to-t from-cyan-100 via-blue-300/40 to-indigo-200/20"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html {
		font-family: 'Onest Variable', sans-serif;
		color: #272727;
		scroll-behavior: smooth;
		scroll-padding-top: 5rem;
	}
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
